<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>
  <div id="app">
    <section class="author">
      <div class="author-background"></div>
      <div class="author-wrapper">
        <div class="author-content">
          <div class="author-content-wrapper">
            <div class="author-avator">
              <img src="{{member.photo.url}}" alt="">
            </div>
            <div class="author-details">
              <h1 class="author-name">{{member.name}}</h1>
              <div class="author-intro">
                <p>
                    {{member.name}}({{member.name_en}})，出生于{{member.dob}}，研究方向{{member.research_interests}}
                </p>
                <p>
                  {{member.biograph}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pubs">
      <div class="pubs-wrapper">
        <div class="pubs-header">
          <h2 class="pubs-header-title">Authored publications</h2>
        </div>
        <div class="pubs-main">
          <div class="pubs-main-pagination">
             <div class="block">
              <el-pagination
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage"
                :page-size="15"
                layout="total, prev, pager, next"
                :total="23">
              </el-pagination>
            </div>
          </div>
          <div class="pubs-classify">
            <div class="author-areas">
              <h3>研究经历</h3>
              {% for experience in member.experience_list %}
              <div class="experience-wrapper">
                <div class="author-area">
                  <p>
                    {{experience.name}}
                  </p>
                </div>
                <div class="author-area">
                  <p>
                    <span class="el-icon-caret-right"></span>
                      时间：{{experience.start_time}} ~ {{experience.end_time}}
                  </p>
                </div>
                <div class="author-area">
                  <p>
                    <span class="el-icon-caret-right"></span>
                      主要任务： {{experience.main_task}}
                  </p>
                </div>
                <div class="author-area">
                  <p>
                    experience.description
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="pubs-list">
            {% for publication in member.publication_list %} 
              <p>{{publication.reference}}
                <a href="{{publication.demo_link}}">[在线链接]</a>
                <a href="{{publication.source_code}}">code</a>
                <a href="{{publication.manuscript}}">pdf</a>
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  function getQueryString(name) { 
    let reg = `(^|&)${name}=([^&]*)(&|$)`
    let r = window.location.search.substr(1).match(reg); 
    if (r != null) return unescape(r[2]); return null; 
  }

    var app = new Vue({
      el: '#app',
      data: {
          message: 'Hello Vue!',
          visible: false,
          currentPage: 1,
      },
      methods: {
        handleCurrentChange(page) {
          window.location.href = "?page=" + page
        }
      },
      created: function() {
        var page = getQueryString('page')
        this.currentPage = +page || 1
      }
    })
</script>
</html>