<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Young</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/list.css">
</head>
<body>
  <div id="app">
    <el-container>
        <el-main class="home-top" v-bind:style="{paddingLeft: '175px', paddingRight: '175px'}">
          <el-row :gutter="20">
              <el-col :span="12">
                <img src="/static/img/1.jpg" class="team-img">
              </el-col>
              <el-col :span="12">
                <div class="team-intro">
                  <h2 class="team-intro-title">团队简介</h2>
                  <div class="team-intro-content">
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                      这里是团队简介这里是团队简介这里是团队简介
                  </div>
                </div>
              </el-col>
          </el-row>
        </el-main>
      </el-container>
    <el-container>
      <el-main v-bind:style="{paddingLeft: '175px', paddingRight: '175px'}">
        <el-row :gutter="20">
          {% for member in members%}
          <el-col :span="6">
            <el-card class="member">
              <div class="member-intro">
                <div class="member-name">{{member.name}}</div>
                <div class="member-avator">
                  <a href="{{member.get_absolute_url}}"><img src="{{member.photo.url}}"></a>
                </div>
                <div class="research-brow">Research area(s)</div>
                <div class="member-result">
                  <!-- <p>
                      {{member.research_interests}}
                  </p> -->
                  <div class="interets-content">
                    {% for interest in member.research_interests %}
                      <span class="interets-item">{{interest}}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </el-card>
          </el-col>
          {% endfor %}


        </el-row>
        <div class="block">
            <el-pagination
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              layout="total, prev, pager, next"
              :page-size="6"
              :total="{{page_obj.paginator.num_pages}}">
            </el-pagination>
          </div>
      </el-main>
    </el-container>
    
  </div>
  
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    function getQueryString(name) { 
      let reg = `(^|&)${name}=([^&]*)(&|$)`
      let r = window.location.search.substr(1).match(reg); 
      if (r != null) return unescape(r[2]); return null; 
    }
    var app = new Vue({
      el: '#app',
      data: {
          message: 'Hello Vue!',
          currentPage: 1,
      },
      methods: {
        handleCurrentChange(page) {
          var href = window.location.href
          var hrefLen = href.length
          var url =  href[hrefLen - 1] === '/' ? href.slice(0, -1) : href
          window.location.href = url + "?page=" + page
        }
      },
      created: function() {
        var page = getQueryString('page')
        this.currentPage = +page || 1
      }
    })
</script>
</html>