{% extends "team/base.html" %}

{% block title %}Our Team Members{% endblock %}

{% block content %}
    <h1>Our Team Members</h1>
    {% for member in members%}
        <h2>
            <a href="{{member.get_absolute_url}}">{{member.cn_name}}</a>
        </h2>
        <p class='date'>
            Position: ${{member.position}}, Department: {{member.department}}
        </p>
        {{member.abstract|truncatewords:30|linebreaks}}
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}
