body, #app {
  height: 100%;
  width: 100%;
}
.home {
  height: 160px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .title {
  color: #000;
  opacity: .8;
  font-size: 71px;
  letter-spacing: -.89px;
  line-height: 77px;
}